* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #25282A;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main {
    width: 80vw;
    height: 90vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.images {
    border-radius: 10px;
    grid-row: 1 / 12;
    grid-column: 1 / 30;
    display: flex;
    list-style-type: none;
}

.images-item {
    border-radius: 10px;
    width: 80vw;
    flex-shrink: 0;
}

::-webkit-scrollbar {
    display: none;
}

#item-1 {
    background: url('./img/bean1.jpg') no-repeat;
    background-size: cover;
    transform: translateX(0);
}

#item-2 {
    background: url('./img/bean2.jpg') no-repeat;
    background-size: cover;
    transform: translateX(-80vw);
}

#item-3 {
    background: url('./img/keepGoing1.jpg') no-repeat, white;
    background-position: center center;
    background-size: contain;
    transform: translateX(-160vw);
}

#item-4 {
    background: url('./img/keepGoing2.jpg') no-repeat;
    background-size: cover;
    transform: translateX(-240vw);
}

.slider {
    width: 80vw;
    height: 90vh;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(15, 1fr);
}

#radio-1, #radio-2, #radio-3, #radio-4,
#bullet-1, #bullet-2, #bullet-3, #bullet-4 {
    grid-row: 13 / 14;
    justify-self: end;
    margin-top: 5px;
}

#radio-1, #radio-2, #radio-3, #radio-4 {
    transform: rotate(0);
}

#radio-1 {
    grid-column: 27 / 28;
}
#radio-2 {
    grid-column: 28 / 29;
}
#radio-3 {
    grid-column: 29 / 30;
}
#radio-4 {
    grid-column: 30 / 31;
}

#bullet-1 {
    grid-column: 27 / 28;
}
#bullet-2 {
    grid-column: 28 / 29;
}
#bullet-3 {
    grid-column: 29 / 30;
}
#bullet-4 {
    grid-column: 30 / 31;
}

.text {
    color: #fff;
    font-size: 20px;
    display: flex;
    overflow: auto;
    list-style-type: none;
    scroll-behavior: smooth;    
    grid-row: 13 / 14;
    grid-column: 1 / 15;
    margin-bottom: 10px;
}

.text-item {
    width: 100%;
    flex-shrink: 0;
}

#text-1 {
    transform: translateX(0);
}
#text-2 {
    transform: translateX(-100%);
}
#text-3 {
    transform: translateX(-200%);
}
#text-4 {
    transform: translateX(-300%);
}

.bullet {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgb(65, 65, 231);
}

input[name="radio-bullet"] {
    width: 23px;
    height: 23px;
    opacity: 0;
    cursor: pointer;
}

input[name="radio-bullet"]:hover + .bullet {
    background-color: rgb(200, 200, 233);
    transition: all 0.2s;
}

input[name="radio-bullet"]:checked:hover + .bullet {
    border: 2px solid rgb(200, 200, 233);
    background-color: transparent;
}

input[name="radio-bullet"]:checked + .bullet {
    border: 2px solid rgb(65, 65, 231);
    background-color: transparent;
}
